<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <%= htmlWebpackPlugin.tags.headTags.script %>
</head>
<body style="background-color: #292929;">
    <canvas
        id="display"
        style="
            border-radius: 0.75rem;
            image-rendering: pixelated;
            image-rendering: crisp-edges;
            image-rendering: -moz-crisp-edges;
            image-rendering: -webkit-crisp-edges;
            -ms-interpolation-mode: nearest-neighbor;
    ">
    </canvas>
    <button id="resetBtn">Reset</button>
    <button id="pauseBtn">Pause</button>
    <button id="stepBtn">Step</button>
    <input id="romLink" type="text" placeholder="./roms/ibm.rom">
    <%= htmlWebpackPlugin.tags.bodyTags %>
</body>
</html>